#cf3 {
  position: relative;

  margin: 0 auto;
}

#HomePic {
  position:relative;
  height:auto;
  width:auto;
  margin:0 auto;
}

#HomePic img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#HomePic img.top:hover {
  opacity: 0;
}


#cf3 img {
  position: absolute;
  height: auto;
  width: fit-content;
  left: 0;
  height: 281px;
  width: 450px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf3 img.transparent {
  opacity: 0;
}
#cf_onclick {
  cursor: pointer;
}

@keyframes cf3FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  #cf3 img:nth-of-type(1) {
    animation-delay: 6s;
  }
  #cf3 img:nth-of-type(2) {
    animation-delay: 4s;
  }
  #cf3 img:nth-of-type(3) {
    animation-delay: 2s;
  }
  #cf3 img:nth-of-type(4) {
    animation-delay: 0;
  }